[submodule "externals/ffmpeg"]
	path = externals/ffmpeg
	url = https://github.com/puzhiguang/FFmpeg.git
[submodule "externals/sdl2"]
	path = externals/sdl2
	url = https://github.com/puzhiguang/SDL-mirror.git
[submodule "externals/frei0r"]
	path = externals/frei0r
	url = https://github.com/puzhiguang/frei0r.git
[submodule "externals/dlfcn-win32"]
	path = externals/dlfcn-win32
	url = https://github.com/puzhiguang/dlfcn-win32.git
[submodule "externals/pthread-win32"]
	path = externals/pthread-win32
	url = https://github.com/puzhiguang/pthread-win32.git
[submodule "externals/libiconv"]
	path = externals/libiconv
	url = https://github.com/puzhiguang/libiconv.git
